[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=NextSlide
X-Python-2-Compatible=false
X-Krita-Manual=NextSlide.html
Name=Next Slide
Comment=Goto next slide

